# Using LLMs to Explore the IUPHAR Guide to Pharmacology
Experiment with LLMs for the IUPHAR/BPS Guide to Pharmacology

In [ ]:
import sqlite3
import base64
import logging
import codecs
import getpass
import os
import requests
import psycopg2
import pandas as pd
import numpy as np
import sqlglot
from sklearn.model_selection import train_test_split

To log any errors

In [2]:
logging.basicConfig(filename="query_errors.log", level=logging.ERROR)

# Connect to database

In [ ]:
def connect_to_db():
    try:
        conn = psycopg2.connect(**db_config)
        return conn
    except Exception as e:
        print(f"Error connecting to the database: {e}")
        return None
    
# Password generation function
def pwd():
    return getpass.getpass(prompt="Enter the database password: ")


# Database connection details
db_config = {
    'host': 'localhost',
    'database': 'guide_to_pharmacology',
    'user': 'postgres',
    'password': pwd(),
}

In [4]:
conn = connect_to_db()
if conn:
    print("Connected to the database successfully.")
else:
    print("Failed to connect to the database. Please check your credentials.")

Connected to the database successfully.

# Function to Train LLM

In [5]:
# Helper function to convert the training set into OpenAI's prompt-completion format
def convert_to_openai_format(df):
    openai_format_data = []
    for _, row in df.iterrows():
        # Format each row as a prompt-completion pair
        openai_format_data.append({
            "prompt": f"{row['question']}",
            "completion": row['sql_query']
        })
    return openai_format_data

# Normalise SQL Query

In [23]:
def normalize_query(query):
    try:
        parsed_query = sqlglot.parse_one(query).sql()
    except Exception as e:
        print(f"Error parsing query: {e}")
        return query  
    return parsed_query

# Function to Integrate LLM and SQL training set

In [ ]:
# Function to ask a question and get SQL using OpenAI API
def ask_openai(question, train_df=None):
    api_key = os.getenv("OPENAI_API_KEY")
    headers = {
        "Content-Type": "application/json",
        "Authorization": f"Bearer {api_key}"
    }

    # If a training set is provided, convert it to the OpenAI format and append it to the system prompt
    if train_df is not None:
        training_data = convert_to_openai_format(train_df)
        examples = "\n".join([f"Q: {item['prompt']} A: {item['completion']}" for item in training_data])
    else:
        examples = ""
    
    # Constructing the data payload for OpenAI API with additional examples from the training data
    data = {
        "model": "gpt-4o",  # Or use your fine-tuned model if available
        "messages": [
            {"role": "system", "content": f'''
                I have a database with the following schema:
                Table: ‘object’ with columns: (abbreviation, only_grac, in_cgtp, annotation_status,
                comments, object_id, only_iuphar, cite_id, systematic_name, gtip_comment, name,
                gtmp_comment, in_gtip, old_object_id, in_gtmp, grac_comments, last_modified,
                no_contributor_list, structural_info_comments, quaternary_structure_comments).
                
                Table: ‘ligand’ with columns: (old_ligand_id, has_chembl_interaction,
                name_vector, mechanism_of_action_vector, comments, immuno_comments, antibacterial,
                ligand_id, bioactivity_comments, absorption_distribution_vector, pubchem_sid,
                metabolism_vector, comments_vector, popn_pharmacokinetics, bioactivity_comments_vector, elimination, drugs_url, abbreviation,
                absorption_distribution, organ_function_impairment, emc_url, verified, mechanism_of_action, approved_source, who_essential, abbreviation_vector,
                in_gtmp, metabolism, type, elimination_vector, approved, in_gtip, labelled, withdrawn_drug,
                name, immuno_comments_vector, popn_pharmacokinetics_vector, ema_url, iupac_name,
                clinical_use_vector, gtmp_comments, radioactive, has_qi_interaction,
                gtmp_comments_vector, organ_function_impairment_vector, clinical_use).
                
                Table: ‘interaction’ with columns: (affinity_high, affinity_low, concentration_range,
                original_affinity_relation, action_comment, assay_conditions, object_id,
                original_affinity_units, endogenous, type_vector, original_affinity_high_nm,
                action, affinity_median, voltage_dependent, assay_description, hide,
                from_grac, whole_organism_assay, only_grac, original_affinity_low_nm,
                percent_activity, affinity_units, affinity_voltage_median, primary_target, selectivity,
                use_dependent, species_id, selective, ligand_id, target_ligand_id, ligand_context,
                affinity_voltage_high, receptor_site, affinity_voltage_low, assay_url,
                original_affinity_median_nm, interaction_id, rank, affinity_physiological_voltage, type.

                Much more tables like this exist in the database.
                
                Here are some examples of how to translate natural language queries into SQL queries:
                {examples}

                If it is an essay type of query find relevant tables and topics from the database and generate appropriate SQL queries still.
                Please write an SQL query based on the following natural language text:
            '''},
            {"role": "user", "content": question}
        ]
    }

    # Send the request to OpenAI API
    response = requests.post("https://api.openai.com/v1/chat/completions", headers=headers, json=data)
    
    if response.status_code == 200:
        try:
            message_content = response.json()['choices'][0]['message']['content']
            if '```sql' in message_content:
                sql_query = message_content.split('```sql')[1].split('```')[0].strip()
                # sql_query = " ".join(sql_query.lower().split())
                sql_query = normalize_query(sql_query)
                return sql_query
            else:
                print("No SQL query found in the response. Full response:")
                print(message_content)
                return None
        except Exception as e:
            print(f"Error extracting SQL query: {e}")
            return None
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

# Function to execute query and return results

In [7]:
# Function to execute a query and return results
def execute_query(conn, sql_query):
    """ Executes a SQL query and returns the result as a DataFrame. """
    try:
        return pd.read_sql_query(sql_query, conn)
    except Exception as e:
        logging.error(f"Error executing SQL query: {e}")
        return pd.DataFrame()  # Return an empty DataFrame

# Split dataset

In [8]:
# Function to split the dataset
def split_dataset(file_path):
    df = pd.read_csv(file_path)
    difficulty_cols = ["Difficulty: Easy", "Difficulty: Easy-Moderate", "Difficulty: Moderate-Hard", "Difficulty: Hard"]
    df["Difficulty"] = df[difficulty_cols].idxmax(axis=1).str.replace("Difficulty: ", "")
    train_df, test_df = train_test_split(df, test_size=0.2, stratify=df["Difficulty"], random_state=42)
    return train_df, test_df

In [9]:
file_path = "Training/all_queries_categorised_train.csv"  # Path to your dataset
train_df, test_df = split_dataset(file_path)
print("Dataset split into training and testing sets.")

Dataset split into training and testing sets.

# Evaluate Query Results

In [10]:
# Function to evaluate the query results
def evaluate_query(expected_df, result_df):
    """Evaluates the generated SQL query against the expected result."""
    
    # Get columns that exist in both DataFrames
    common_columns = list(set(expected_df.columns).intersection(result_df.columns))
    
    # Calculate missed and extra columns
    missed_columns = len(set(expected_df.columns) - set(result_df.columns))
    extra_columns = len(set(result_df.columns) - set(expected_df.columns))
    
    # Calculate True Positives (TP), False Positives (FP), and False Negatives (FN)
    if common_columns:
        matches = (expected_df[common_columns] == result_df[common_columns])
        true_positives = matches.sum().sum()  # Total number of matching elements
        total_elements_in_result = result_df[common_columns].size  # Total elements in result DataFrame
        total_elements_in_expected = expected_df[common_columns].size  # Total elements in expected DataFrame
        
        # Precision: Proportion of correct results out of all retrieved results
        precision = true_positives / total_elements_in_result
        
        # Recall: Proportion of correct results out of all expected results
        recall = true_positives / total_elements_in_expected
    else:
        precision = 0  # No common columns, precision is undefined (set to 0)
        recall = 0     # No common columns, recall is undefined (set to 0)
    
    # Accuracy: Check if DataFrames are identical in content and structure
    accuracy = expected_df.equals(result_df)
    
    # Calculate row-wise match count for common columns
    if common_columns:
        matched_rows = (expected_df[common_columns] == result_df[common_columns]).all(axis=1).sum()
    else:
        matched_rows = 0  # No rows can match if there are no common columns
    
    total_rows = len(expected_df)
    
    return {
        "Precision": precision,
        "Recall": recall,
        "Accuracy": accuracy,
        "Missed Columns": missed_columns,
        "Extra Columns": extra_columns,
        "Matched Rows": matched_rows,
        "Total Rows": total_rows
    }

In [11]:
# print("Evaluating the test dataset...")
# test_metrics = evaluate_dataset(test_df, conn)
# print("Evaluation results:")
# print(test_metrics)

# Generate SQL for test_df

In [20]:
def generate_sql_queries_for_test_df(test_df):
    generated_queries = []
    
    for _, row in test_df.iterrows():
        nl_query = row['Natural Language Query']  # Natural language query
        # Generate SQL from OpenAI
        generated_sql = ask_openai(nl_query)
        
        # Add generated SQL to the row for later comparison
        row['Generated SQL'] = generated_sql
        generated_queries.append(row)
    
    return pd.DataFrame(generated_queries)

In [13]:
def compare_sql_queries(test_df):
    results = []
    
    for _, row in test_df.iterrows():
        expected_sql = row['SQL']
        generated_sql = row['Generated SQL']
        
        # Compare exact match
        match = expected_sql == generated_sql
        
        results.append({
            "ID": row["ID"],
            "Natural Language Query": row["Natural Language Query"],
            "Expected SQL": expected_sql,
            "Generated SQL": generated_sql,
            "Match": match
        })
    
    return pd.DataFrame(results)

In [14]:
def evaluate_sql_queries(test_df, conn):
    metrics = []
    
    for _, row in test_df.iterrows():
        sql_query = row["SQL"]
        # second_sql = row.get("2nd SQL")
        
        # Attempt to execute the main SQL query
        expected_df = execute_query(conn, sql_query)
        result_df = execute_query(conn, sql_query)

        # If either query failed, log and continue
        if expected_df is None or result_df is None:
            logging.error(f"Failed to execute main query for Query ID {row['ID']}: {sql_query}")
            continue

        # Evaluate the main query
        main_eval = evaluate_query(expected_df, result_df)

        # if second_sql and pd.notnull(second_sql):
        #     # Attempt to execute the second SQL query
        #     second_expected_df = execute_query(conn, second_sql)
        #     if second_expected_df is None:
        #         logging.error(f"Failed to execute second query for Query ID {row['ID']}: {second_sql}")
        #         second_eval = {key: 0 for key in main_eval.keys()}  # Default to 0 for all metrics
        #     else:
        #         second_eval = evaluate_query(second_expected_df, result_df)
            
        #     # Combine evaluations (use max values for each metric)
        #     for key in main_eval:
        #         main_eval[key] = max(main_eval[key], second_eval[key])

        # Append results to metrics list
        metrics.append({
            "Query ID": row["ID"],
            "Precision": main_eval["Precision"],
            "Recall": main_eval["Recall"],
            "Accuracy": main_eval["Accuracy"],
            "Missed Columns": main_eval["Missed Columns"],
            "Extra Columns": main_eval["Extra Columns"],
            "Matched Rows": main_eval["Matched Rows"],
            "Total Rows": main_eval["Total Rows"]
        })

    return pd.DataFrame(metrics)

# Example usage:
# Assuming `conn` is your active database connection and `test_df` is your test DataFrame.
# metrics_df = evaluate_sql_queries(test_df, conn)
# print(metrics_df)

# Putting it all together

In [21]:
def run_full_evaluation(file_path, conn):
    # Step 1: Load and split the dataset
    train_df, test_df = split_dataset(file_path)

    # Step 2: Generate SQL queries for the test set
    generated_test_df = generate_sql_queries_for_test_df(test_df)

    # Step 3: Compare generated SQL with expected SQL
    comparison_df = compare_sql_queries(generated_test_df)
    print("Comparison of generated and expected SQL queries on the test set:")
    print(comparison_df)

    # Step 4: Evaluate SQL queries on the database (for the test set)
    evaluation_results = evaluate_sql_queries(generated_test_df, conn)
    
    # Step 5: Print the evaluation results in a detailed table format
    print("Detailed Evaluation Results on the test set:")
    print(evaluation_results)

    # Optionally, save the results to a file for further analysis
    evaluation_results.to_csv('evaluation_results.csv', index=False)

In [26]:
file_path = "Training/all_queries_categorised_train.csv"
run_full_evaluation(file_path, conn)

Error: 502 - <html>
<head><title>502 Bad Gateway</title></head>
<body>
<center><h1>502 Bad Gateway</h1></center>
<hr><center>cloudflare</center>
</body>
</html>

Comparison of generated and expected SQL queries on the test set:
    ID                             Natural Language Query  \
0   35  What antagonists are there for Toll-like recep...
1    6  Find synthetic organic ligands with a molecula...
2   81  Are there compounds which can block all adenos...
3   58  Find information on the clinical use of drugs ...
4    7  What information is there on Retinoic acid rec...
5   56  Find any endogenous substrates of decarboxylases?
6    4                            Find all approved drugs
7   15  What drugs might be used to treat multiple scl...
8   19  In humans, how many relaxin receptors are ther...
9   31  What antimalarial compounds also have a PDB st...
10  38  How many antibodies with binding data are ther...
11  53  Find any nucleic acid ligands and their sequen...
12  42  List ligands for SARS Cov2 MPro that have pAct...
13  65  Is there recommended background reading on end...
14  61  Are there any compounds that only target one m...
15   9  Search / find any ligand with the name contain...
16  70  Is IFN-β an agonoist of  interferon α/β recept...
17  77  Can I get a list of all ligands in GtoPdb with...
18  26  What should I use to inhibit TRPM3 in cultured...
19  18  Find apelin ligands that are radiolabelled tog...
20  69  What ligands and structures have a pKi values ...
21  40  Find natural products ligands, that meet lipin...
22  29  What compounds have a role in treating arthritis?
23  23  Find all the papers in the Guide that are list...
24  16  What WHO essential medicines, that are approve...
25  25      Which GPCRs have no clinically approved drug?

                                         Expected SQL  \
0   select l.ligand_id, l.name, l.type, o.object_i...
1   select l.ligand_id, l.name, l.type, lp.molecul...
2   select i.ligand_id, l.name, count(distinct i.o...
3   select distinct l.ligand_id, l.name, l.type, l...
4   select l.ligand_id, l.name, l.type, l."comment...
5   select l.ligand_id, l.name, l.type, o.object_i...
6   select ligand_id, name from ligand where appro...
7   select idl.ligand_id, l.name, idl.comment, d.n...
8   select o.object_id, o.name, dl.placeholder, co...
9   select l.ligand_id, l.name, l.gtmp_comments, l...
10  select count(distinct l.ligand_id) from intera...
11  select l.ligand_id, l.name, l.type, na.seq fro...
12  select l.ligand_id, l.name, l.type, o.object_i...
13  select r.reference_id, r.title, r.article_titl...
14  select i.ligand_id, l.name, count(distinct i.o...
15  select l.ligand_id, l.name, ls.synonym from li...
16  select count(*) from interaction i where i.lig...
17  select l.ligand_id, l.name, l.pubchem_sid, ldl...
18  select l.ligand_id, l.name, case when i.affini...
19  select l.ligand_id, l.name, l.radioactive, cas...
20  select l.ligand_id, l.name, l.type, ls.isomeri...
21  select l.ligand_id, l.name, l.type, ls.isomeri...
22  select idl.ligand_id, l.name, idl.comment, d.n...
23  select * from reference where pub_status ilike...
24  select ligand_id, name from ligand where who_e...
25  select i.object_id, (select name from object o...

                                        Generated SQL  Match
0   SELECT o.name AS receptor_name, l.name AS liga...  False
1   SELECT ligand_id, name FROM ligand WHERE type ...  False
2   SELECT DISTINCT l.name AS compound_name FROM l...  False
3   SELECT l.ligand_id, l.name AS ligand_name, l.c...  False
4   SELECT o.object_id, o.name AS receptor_name, i...  False
5   SELECT i.interaction_id, i.ligand_id, i.object...  False
6             SELECT * FROM ligand WHERE approved = 1  False
7   SELECT DISTINCT l.name FROM ligand AS l WHERE ...  False
8   SELECT o.name AS receptor_name, i.action AS pr...  False
9   SELECT c.* FROM compounds AS c JOIN pdb_struct...  False
10  SELECT COUNT(DISTINCT l.ligand_id) AS antibody...  False
11  SELECT ligand_id, name, type, sequence FROM li...  False
12  SELECT l.name, l.ligand_id FROM interaction AS...  False
13  SELECT abbreviation, name, systematic_name, co...  False
14  SELECT DISTINCT l.name AS ligand_name FROM lig...  False
15       SELECT * FROM ligand WHERE name LIKE '%GSK%'  False
16                                               None  False
17  SELECT name AS ligand_name, pubchem_sid, pubch...  False
18  SELECT i.ligand_id, l.name AS ligand_name, i.c...  False
19  SELECT l.name AS ligand_name, i.affinity_media...  False
20  SELECT l.ligand_id, l.name AS ligand_name, o.o...  False
21  SELECT l.ligand_id, l.name, l.iupac_name, l.ty...  False
22  SELECT ligand_id, name, clinical_use, mechanis...  False
23     SELECT * FROM papers WHERE status = 'preprint'  False
24  SELECT * FROM ligand WHERE who_essential = TRU...  False
25  SELECT DISTINCT o.name AS gpcr_name FROM objec...  False
Detailed Evaluation Results on the test set:
    Query ID  Precision  Recall  Accuracy  Missed Columns  Extra Columns  \
0         35          0       0      True               0              0
1          6          0       0      True               0              0
2         81          0       0      True               0              0
3         58          0       0      True               0              0
4          7          0       0      True               0              0
5         56          0       0      True               0              0
6          4          0       0      True               0              0
7         15          0       0      True               0              0
8         19          0       0      True               0              0
9         31          0       0      True               0              0
10        38          0       0      True               0              0
11        53          0       0      True               0              0
12        42          0       0      True               0              0
13        65          0       0      True               0              0
14        61          0       0      True               0              0
15         9          0       0      True               0              0
16        70          0       0      True               0              0
17        77          0       0      True               0              0
18        26          0       0      True               0              0
19        18          0       0      True               0              0
20        69          0       0      True               0              0
21        40          0       0      True               0              0
22        29          0       0      True               0              0
23        23          0       0      True               0              0
24        16          0       0      True               0              0
25        25          0       0      True               0              0

    Matched Rows  Total Rows
0              0           0
1              0           0
2              0           0
3              0           0
4              0           0
5              0           0
6              0           0
7              0           0
8              0           0
9              0           0
10             0           0
11             0           0
12             0           0
13             0           0
14             0           0
15             0           0
16             0           0
17             0           0
18             0           0
19             0           0
20             0           0
21             0           0
22             0           0
23             0           0
24             0           0
25             0           0

C:\Users\nikit\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

# Run your Own Queries

In [17]:
# while True:
#     query = input("Enter an SQL query to execute (or type 'exit' to quit): ")
#     if query.lower() == 'exit':
#         break

#     results = execute_query(conn, query)
#     if results is not None and not results.empty:
#         print("Query Results:")
#         print(results)
#     else:
#         print("No results found or an error occurred.")

# Close DB Connection

In [18]:
conn.close()
print("Database connection closed.")

Database connection closed.